* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 3rem;
  font-family: Arial sans-serif;
}

.grid {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100%;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 20px;
}

.square-border {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 5px solid black;
}
.square-border:hover {
  background-color: blanchedalmond;
  transition: all 0.2s ease-in;
  transform: scale(1.1);
}
.reset-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
